@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Pagina Web</h1>
    <img src="https://i.pinimg.com/236x/26/b8/84/26b8840bf90d9f66ebe9f48c458ff9d1.jpg" width="100px" height="100px"/>
    <br />
    <button type="button" class="btn btn-info" onclick="alert('Hola mi nombre es Eduardo Salazar y mi hobbie es el futbol')">Info</button>
    
</div>
